/* @font-face{
  font-family: "sauvetage";
  src:url('../fonts/Top\ Secret.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://allfont.net/allfont.css?fonts=top-secret');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  /* background-color: rgb(243, 240, 240); */
  font-family: sans-serif;
	display:flex;
  flex-direction:column;
  
  /* background-image: linear-gradient(55deg, rgba(208, 208, 208, 0.03) 0%, rgba(208, 208, 208, 0.03) 20%,rgba(55, 55, 55, 0.03) 20%, rgba(55, 55, 55, 0.03) 40%,rgba(81, 81, 81, 0.03) 40%, rgba(81, 81, 81, 0.03) 60%,rgba(208, 208, 208, 0.03) 60%, rgba(208, 208, 208, 0.03) 80%,rgba(191, 191, 191, 0.03) 80%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(291deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%,rgba(105, 105, 105, 0.02) 14.286%, rgba(105, 105, 105, 0.02) 28.572%,rgba(230, 230, 230, 0.02) 28.572%, rgba(230, 230, 230, 0.02) 42.858%,rgba(216, 216, 216, 0.02) 42.858%, rgba(216, 216, 216, 0.02) 57.144%,rgba(181, 181, 181, 0.02) 57.144%, rgba(181, 181, 181, 0.02) 71.42999999999999%,rgba(129, 129, 129, 0.02) 71.43%, rgba(129, 129, 129, 0.02) 85.71600000000001%,rgba(75, 75, 75, 0.02) 85.716%, rgba(75, 75, 75, 0.02) 100.002%),linear-gradient(32deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 12.5%,rgba(223, 223, 223, 0.03) 12.5%, rgba(223, 223, 223, 0.03) 25%,rgba(11, 11, 11, 0.03) 25%, rgba(11, 11, 11, 0.03) 37.5%,rgba(86, 86, 86, 0.03) 37.5%, rgba(86, 86, 86, 0.03) 50%,rgba(106, 106, 106, 0.03) 50%, rgba(106, 106, 106, 0.03) 62.5%,rgba(220, 220, 220, 0.03) 62.5%, rgba(220, 220, 220, 0.03) 75%,rgba(91, 91, 91, 0.03) 75%, rgba(91, 91, 91, 0.03) 87.5%,rgba(216, 216, 216, 0.03) 87.5%, rgba(216, 216, 216, 0.03) 100%),linear-gradient(312deg, rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 14.286%,rgba(54, 54, 54, 0.01) 14.286%, rgba(54, 54, 54, 0.01) 28.572%,rgba(166, 166, 166, 0.01) 28.572%, rgba(166, 166, 166, 0.01) 42.858%,rgba(226, 226, 226, 0.01) 42.858%, rgba(226, 226, 226, 0.01) 57.144%,rgba(109, 109, 109, 0.01) 57.144%, rgba(109, 109, 109, 0.01) 71.42999999999999%,rgba(239, 239, 239, 0.01) 71.43%, rgba(239, 239, 239, 0.01) 85.71600000000001%,rgba(54, 54, 54, 0.01) 85.716%, rgba(54, 54, 54, 0.01) 100.002%),linear-gradient(22deg, rgba(77, 77, 77, 0.03) 0%, rgba(77, 77, 77, 0.03) 20%,rgba(235, 235, 235, 0.03) 20%, rgba(235, 235, 235, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(181, 181, 181, 0.03) 60%, rgba(181, 181, 181, 0.03) 80%,rgba(193, 193, 193, 0.03) 80%, rgba(193, 193, 193, 0.03) 100%),linear-gradient(80deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 14.286%,rgba(114, 114, 114, 0.02) 14.286%, rgba(114, 114, 114, 0.02) 28.572%,rgba(240, 240, 240, 0.02) 28.572%, rgba(240, 240, 240, 0.02) 42.858%,rgba(221, 221, 221, 0.02) 42.858%, rgba(221, 221, 221, 0.02) 57.144%,rgba(74, 74, 74, 0.02) 57.144%, rgba(74, 74, 74, 0.02) 71.42999999999999%,rgba(201, 201, 201, 0.02) 71.43%, rgba(201, 201, 201, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(257deg, rgba(72, 72, 72, 0.03) 0%, rgba(72, 72, 72, 0.03) 16.667%,rgba(138, 138, 138, 0.03) 16.667%, rgba(138, 138, 138, 0.03) 33.334%,rgba(54, 54, 54, 0.03) 33.334%, rgba(54, 54, 54, 0.03) 50.001000000000005%,rgba(161, 161, 161, 0.03) 50.001%, rgba(161, 161, 161, 0.03) 66.668%,rgba(17, 17, 17, 0.03) 66.668%, rgba(17, 17, 17, 0.03) 83.33500000000001%,rgba(230, 230, 230, 0.03) 83.335%, rgba(230, 230, 230, 0.03) 100.002%),linear-gradient(47deg, rgba(191, 191, 191, 0.01) 0%, rgba(191, 191, 191, 0.01) 16.667%,rgba(27, 27, 27, 0.01) 16.667%, rgba(27, 27, 27, 0.01) 33.334%,rgba(66, 66, 66, 0.01) 33.334%, rgba(66, 66, 66, 0.01) 50.001000000000005%,rgba(36, 36, 36, 0.01) 50.001%, rgba(36, 36, 36, 0.01) 66.668%,rgba(230, 230, 230, 0.01) 66.668%, rgba(230, 230, 230, 0.01) 83.33500000000001%,rgba(93, 93, 93, 0.01) 83.335%, rgba(93, 93, 93, 0.01) 100.002%),linear-gradient(90deg, #ffffff,#ffffff); */

  
  background-image: repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.02) 0px, rgba(145, 145, 145, 0.02) 39px,rgba(140, 140, 140, 0.02) 39px, rgba(140, 140, 140, 0.02) 57px,rgba(9, 9, 9, 0.02) 57px, rgba(9, 9, 9, 0.02) 91px,rgba(217, 217, 217, 0.02) 91px, rgba(217, 217, 217, 0.02) 119px,rgba(45, 45, 45, 0.02) 119px, rgba(45, 45, 45, 0.02) 141px,rgba(227, 227, 227, 0.02) 141px, rgba(227, 227, 227, 0.02) 184px,rgba(236, 236, 236, 0.02) 184px, rgba(236, 236, 236, 0.02) 227px,rgba(124, 124, 124, 0.02) 227px, rgba(124, 124, 124, 0.02) 244px),repeating-linear-gradient(135deg, rgba(39, 39, 39, 0.02) 0px, rgba(39, 39, 39, 0.02) 23px,rgba(2, 2, 2, 0.02) 23px, rgba(2, 2, 2, 0.02) 55px,rgba(13, 13, 13, 0.02) 55px, rgba(13, 13, 13, 0.02) 71px,rgba(44, 44, 44, 0.02) 71px, rgba(44, 44, 44, 0.02) 98px,rgba(240, 240, 240, 0.02) 98px, rgba(240, 240, 240, 0.02) 134px,rgba(182, 182, 182, 0.02) 134px, rgba(182, 182, 182, 0.02) 159px,rgba(246, 246, 246, 0.02) 159px, rgba(246, 246, 246, 0.02) 174px,rgba(157, 157, 157, 0.02) 174px, rgba(157, 157, 157, 0.02) 190px),repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.02) 0px, rgba(145, 145, 145, 0.02) 35px,rgba(217, 217, 217, 0.02) 35px, rgba(217, 217, 217, 0.02) 53px,rgba(199, 199, 199, 0.02) 53px, rgba(199, 199, 199, 0.02) 70px,rgba(196, 196, 196, 0.02) 70px, rgba(196, 196, 196, 0.02) 114px,rgba(137, 137, 137, 0.02) 114px, rgba(137, 137, 137, 0.02) 143px,rgba(249, 249, 249, 0.02) 143px, rgba(249, 249, 249, 0.02) 191px,rgba(247, 247, 247, 0.02) 191px, rgba(247, 247, 247, 0.02) 239px,rgba(38, 38, 38, 0.02) 239px, rgba(38, 38, 38, 0.02) 273px),linear-gradient(90deg, rgb(69, 69, 69),rgb(3, 3, 3));
}

a {
  cursor: url("../img/cursor.png"), default;
  text-decoration: none;
}

.landing {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.homePetImg{
  width: 70%;
  height: auto;
}

.landing h1 {
  font-family: 'Nothing You Could Do', cursive;
  color: #ececec;
  font-size: 400%;
  text-align: center;
  margin-top: 0;
}

.title-pensionnaires{
  font-family: 'Nothing You Could Do', cursive;
  color: #ececec;
  font-size: 400%;
  text-align: center;
}
/* ////////////////// NAVBAR //////////////////////// */
.menu-logo {
  line-height: 0;
  margin: 5px 20px;
}

.logoSpa {
  width: 6rem;
  flex-shrink: 0;
}

nav {
  height: 12vh;
  background: #ffffff;
}


.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  margin-left: auto;
}

.nav-links li{
  margin-right: 1rem;
  color: #646464;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.nav-links li a {
  color: #646464;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.nav-links li:hover{
  color:  #3EB34F;
}

.nav-links li a:hover{
  color:  #3EB34F;
}

/* ///////////////////// DONS //////////////////////////// */
.don{
  background-color: #3EB34F;
  color: #f8f6f6 !important;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all .8s ease-in-out;
}

.don:hover{
  transform: scale(1.1);
}

.menu-pensionnaires:hover .cat-pensionnaires{
  opacity: 1;
  visibility:visible;
  background-color: #fff;
}

.cat-pensionnaires{
  position: absolute;
  padding-left: 0;
  list-style: none;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.cat-pensionnaires li{
  margin-top: 1rem;
}

/* ////////////////////// FOOTER ///////////////////////////// */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding: 20px 0 20px 0;
  background: #d4d4d4;
}

.contactFooter {
  display: flex;
  align-items: center;
  margin: 0 20px 0 20px;
  justify-content:space-between
}

.contactFooter p {
  padding: 0 10px 0 10px;
}

.logoSvg {
  width: 1.5rem;
  margin-right: 10px;
}

/* ///////////////////////////////// SPRITE ANIMATION //////////////////////////////////// */

/* .sprite{
  overflow: hidden;
  display: flex;
  position: absolute;
  width: 100%;
  top: 80%;
  left: -500px;
} */

.cat {
  width: 195px;
  height: 100px;
  position: absolute; 
  left: -190px;
  top: 90px;
  background-image: url("../img/catSprite.png");
  animation: walkCat .5s steps(13) 7, 
     run 3s linear 1;

}

@keyframes walkCat {
  100% {
    background-position: 0 -1265px;/* Largeur image */
  }
}

@keyframes run {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(2400px);
    -moz-transform: translateX(2400px);
    -ms-transform: translateX(2400px);
    -o-transform: translateX(2400px);
}
}

/* .dog {
  width: 240px;
  height: 180px;
  background-image: url("../img/dogSprite.png");
  animation: walkDog .3s steps(4) infinite,
    moveDog 3.2s linear 1;
}

@keyframes walkDog {
  100% {
    background-position: 947px;
  }
}

@keyframes moveDog {
  100% {
    transform: translateX(2500px);
  }
} */

/* --------------- DOG 2 --------------- */

.dog {
  width: 145px;
  height: 100px;
  position: absolute;
  top: 90px;
  left: -140px;
  background-image: url("../img/sprite/dog.png");
  animation: walkDog .6s steps(6) 4
    , moveDog 2.7s linear 1;
}

@keyframes walkDog {
  100% {
    background-position: -960px;
  }
}

 @keyframes moveDog {
  100% {
    transform: translateX(2500px);
  } 
}
/* ///////////////////////////////// FICHE //////////////////////////////////// */

.landing-fiche{
  flex: 1 0 auto;
}

.title-fiche{
  font-size: 2.5rem;
  font-weight: bold;
  color: #3EB34F;
}
.sauvetage{
  color: rgb(221, 22, 22);
  font-family: 'Top Secret Bold', arial;

  /* font-family: 'sauvetage'; */
}
.img-carousel{
  width: 40rem !important;
  height: 30rem;
}

.detail{
  font-size: 1.2rem;
}

.tooltip-familleAccueil{
  position: absolute;
  background-color: #3EB34F;
  border: 4px solid #666;
  width: 35rem;
  padding: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,.75);
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}

.tooltip-familleAccueil::after, .tooltip-familleAccueil::before{
  content: '';
  bottom: 100%;
  left: 25%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
}

.tooltip-familleAccueil::after{
  border-bottom-color: #3EB34F;
  border-width: 25px;
  margin-left: -25px;
}

.tooltip-familleAccueil::before{
  border-bottom-color: #666;
  border-width: 30px;
  margin-left: -30px;
}

.btn-tooltip:hover + .tooltip-familleAccueil{
  pointer-events: all;
  opacity: 1;
}

.img-info:hover{
  cursor: pointer;
}

.img-info:hover ~ .tooltip-familleAccueil{
  pointer-events: all;
  opacity: 1;
}

/* ///////////////////////////////// MEDIA //////////////////////////////////// */

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: rgb(47, 47, 47);
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .nav-links{
    justify-content:space-around
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .hamburger.active .line:nth-child(1){
    transform: rotate(143deg);
    -webkit-transform: rotate(143deg);
    -moz-transform: rotate(143deg);
    -ms-transform: rotate(143deg);
    -o-transform: rotate(143deg);
}
  .hamburger.active .line:nth-child(2){
    transform: translateX(-20px);
    opacity: 0;

}
  .hamburger.active .line:nth-child(3){
    transform: rotate(-143deg);
    -webkit-transform: rotate(-143deg);
    -moz-transform: rotate(-143deg);
    -ms-transform: rotate(-143deg);
    -o-transform: rotate(-143deg);
}

  .nav-links {
    position: fixed;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all .5s ease-out;
    pointer-events: none;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    z-index: 100;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1 !important;
  }
}



div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  background-color: #d6d5d5;
  margin-bottom: 20px;
  transition:0.5s;
  /* cursor:pointer; */
}

.card-header{
  font-size:2remx;
  transition:1s;
  color:#3EB34F
}

.sexAge{
  display: flex;
}

.rescue{
  transform: rotate(20deg);
  color: rgb(221, 22, 22);
  font-family: 'Top Secret Bold', arial;
}

.card-title{  
  font-size:1.2rem;
  margin-right: 10px;
  transition:1s;
  color:#ececec
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.race{
  color: #ececec;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

/* /////////////////////////////// CONTACT /////////////////////////////////// */

.landing-contact{
  position: relative;
  
}

.card-contact{
  transition:0.5s;
  cursor:pointer;
}

.card-contact:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-header-contatct{
  display: flex;
  background: transparent;
  font-size:2remx;
  transition:1s;
  color:#3EB34F
}

.text-center-contact{
  width: 100%;
  text-align: center;
}

.form-contact {
  margin-top: 30px;
  height: 80%;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header img{
  justify-self: flex-start;
}

.btn-contact{
  background-color: #3EB34F;
  color: #d4d4d4;
  font-size: 18px;

}

.maCarte { 
  height: 75vh; 
}

/* /////////////////////////////////// MODAL //////////////////// */
.modal-body img{
  max-width: 100%;
  height: auto;
}