*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: #000000;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 100vh;
    background: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    cursor: url("../img/cursorW.png"), default;
}

a {
    cursor: url("../img/cursorW.png"), default !important;
  }

/* /////////////////////////// NAVBAR ////////////////////////// */
.navbar-brand{
    align-self: flex-start;
}

.nav-item{
    margin: 1.5rem;
    border: 2.5px solid rgba(236, 236, 236, 0.644);
    border-radius: 50%;
    transition: border .7s ease-in-out;
}
.nav-item:hover{
    border: 2.5px solid transparent;
}

.nav-item:hover ~p{
    opacity: 1;
    display: block;
}

.navbar-nav{
    transform: translateX(50%);
}
.nav-link img{
    margin: .5rem;
    width: 3.5rem;
}

.dropdown-menu{
    font-size: 1.2rem;
    background-color: transparent;
}

.dropdown-menu li a{
    color: #ececec;
}

.menu-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-item:hover{
    background-color: transparent;
    color: rgba(62, 179, 79, 0.938)
}

.menu-circle p{
    color: #ececec;
    font-size: 1.2rem;
    opacity: 0;
    display: none;
    transition: opacity .9s ease-out;
}

@media all and (min-width: 992px){
    .nav-item .dropdown-menu{display: none;}
    .nav-item:hover .nav-link{color: #ececec;}
    .nav-item:hover .dropdown-menu{display: block;}
    .nav-item .dropdown-menu{margin-top: 0;}
}
/* /////////////////////////// TITLE ////////////////////////// */

.container-title{
    position: absolute;
    top: 30%;
    left: 5%;
}

.container-title h1{
    font-size: 6vw;
    color: #ececec;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container-title h1 span{
    position: relative;
}
/* /////////////////////////// SVG //////////////////////////// */

.container-svg{
    position: absolute;
    top: 200%;
}

.container-svg h2{
    color: #ececec;
    letter-spacing: 16px;
    font-size: 4rem;
    font-family: Montserrat;
}

/* #logoSvg{
    position: absolute; 
    top: 80px;
    left: 50px;
    animation: fill 0.5s ease;

}

#logoSvg path:nth-child(1){
    stroke-dasharray: 537px;
    stroke-dashoffset: 537px;
    animation: line-anim 2s ease forwards;
}
#logoSvg path:nth-child(2){
    stroke-dasharray: 472px;
    stroke-dashoffset: 472px;
    animation: line-anim 2s ease forwards 0.3s;
    -webkit-animation: line-anim 2s ease forwards 0.3s;
}
#logoSvg path:nth-child(3){
    stroke-dasharray: 343px;
    stroke-dashoffset: 343px;
    animation: line-anim 2s ease forwards 0.6s;
    -webkit-animation: line-anim 2s ease forwards 0.6s;
}
#logoSvg path:nth-child(4){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: line-anim 2s ease forwards 0.9s;
    -webkit-animation: line-anim 2s ease forwards 0.9s;
}
#logoSvg path:nth-child(5){
    stroke-dasharray: 476px;
    stroke-dashoffset: 476px;
    animation: line-anim 2s ease forwards 1.2s;
    -webkit-animation: line-anim 2s ease forwards 1.2s;
}
#logoSvg path:nth-child(6){
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 1.5s;
    -webkit-animation: line-anim 2s ease forwards 1.5s;
}
#logoSvg path:nth-child(7){
   stroke-dasharray: 484px;
   stroke-dashoffset: 484px;
   animation: line-anim 2s ease forwards 1.8s;
   -webkit-animation: line-anim 2s ease forwards 1.8s;
}
#logoSvg path:nth-child(8){
   stroke-dasharray: 580px;
   stroke-dashoffset: 580px;
   animation: line-anim 2s ease forwards 2.1s;
   -webkit-animation: line-anim 2s ease forwards 2.1s;
}
#logoSvg path:nth-child(9){
    stroke-dasharray: 537px;
    stroke-dashoffset: 537px;
    animation: line-anim 2s ease forwards 2.4s;
    -webkit-animation: line-anim 2s ease forwards 2.4s;
}
#logoSvg path:nth-child(10){
    stroke-dasharray: 472px;
    stroke-dashoffset: 472px;
    animation: line-anim 2s ease forwards 2.7s;
    -webkit-animation: line-anim 2s ease forwards 2.7s;
}
#logoSvg path:nth-child(11){
    stroke-dasharray: 343px;
    stroke-dashoffset: 343px;
    animation: line-anim 2s ease forwards 3s;
    -webkit-animation: line-anim 2s ease forwards 3s;
}
#logoSvg path:nth-child(12){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: line-anim 2s ease forwards 3.3s;
    -webkit-animation: line-anim 2s ease forwards 3.3s;
}
#logoSvg path:nth-child(13){
    stroke-dasharray: 476px;
    stroke-dashoffset: 476px;
    animation: line-anim 2s ease forwards 3.6s;
    -webkit-animation: line-anim 2s ease forwards 3.6s;
}
#logoSvg path:nth-child(14){
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 3.9s;
    -webkit-animation: line-anim 2s ease forwards 3.9s;
}
#logoSvg path:nth-child(15){
   stroke-dasharray: 484px;
   stroke-dashoffset: 484px;
   animation: line-anim 2s ease forwards 4.2s;
   -webkit-animation: line-anim 2s ease forwards 4.2s;
}
#logoSvg path:nth-child(16){
   stroke-dasharray: 580px;
   stroke-dashoffset: 580px;
   animation: line-anim 2s ease forwards 4.5s;
   -webkit-animation: line-anim 2s ease forwards 4.5s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
    from{
        fill: transparent;
    }
    to{
        fill: #ececec;
    }
} */

/* @keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #f1f1f1
    }
} */


/* /////////////////////////////////// MODAL //////////////////// */
.modal-body img{
    max-width: 100%;
    height: auto;
  }

  /* ////////////////////////////// MEDIA ///////////////////////// */
  @media (max-width: 620px) {
    #logoSvg{
        left: 10px;
        width: 230px;
    }
}
