/* @font-face{
  font-family: "sauvetage";
  src:url('../fonts/Top\ Secret.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://allfont.net/allfont.css?fonts=top-secret');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(243, 240, 240);
  font-family: sans-serif;
	display:flex;
	flex-direction:column;
}

a {
  cursor: url("../img/cursor.png"), default;
  text-decoration: none;
}

.landing {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.homePetImg{
  width: 70%;
  height: auto;
}

.landing h1 {
  font-family: 'Nothing You Could Do', cursive;
  color: #464444;
  font-size: 400%;
  text-align: center;
  margin-top: 0;
}

.menu-logo {
  line-height: 0;
  margin: 5px 20px;
}

.logoSpa {
  width: 6rem;
  flex-shrink: 0;
}

nav {
  height: 12vh;
  background: #ffffff;
}


.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  margin-left: auto;
}

.nav-links li{
  margin-right: 1rem;
  color: #646464;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.nav-links li a {
  color: #646464;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.nav-links li:hover{
  color:  #EB641A;
}

.nav-links li a:hover{
  color:  #EB641A;
}

.don{
  background-color: #EB641A;
  color: #f8f6f6 !important;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all .8s ease-in-out;
}

.don:hover{
  transform: scale(1.1);
}

.menu-pensionnaires:hover .cat-pensionnaires{
  opacity: 1;
  visibility:visible;
  background-color: #fff;
}

.cat-pensionnaires{
  position: absolute;
  padding-left: 0;
  list-style: none;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.cat-pensionnaires li{
  margin-top: 1rem;
}

/* ////////////////////// FOOTER ///////////////////////////// */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding: 20px 0 20px 0;
  background: #d4d4d4;
}

.contactFooter {
  display: flex;
  align-items: center;
  margin: 0 20px 0 20px;
  justify-content:space-between
}

.contactFooter p {
  padding: 0 10px 0 10px;
}

.logoSvg {
  width: 1.5rem;
  margin-right: 10px;
}

/* ///////////////////////////////// SPRITE ANIMATION //////////////////////////////////// */

.cat {
  width: 195px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  left: -500px;
  top: 90px;
  background-image: url("../img/catSprite.png");
  animation: walkCat .5s steps(13) 7,    run 3s linear 1;

}

@keyframes walkCat {
  100% {
    background-position: 0 -1265px;
  }
}

@keyframes run {
  100% {
    transform: translateX(2400px);
    -webkit-transform: translateX(2400px);
    -moz-transform: translateX(2400px);
    -ms-transform: translateX(2400px);
    -o-transform: translateX(2400px);
}
}

.dog {
  width: 240px;
  height: 180px;
  position: absolute;
  top: 0;
  left: -700px;
  background-image: url("../img/dogSprite.png");
  animation: walkDog .3s steps(4) infinite,
    moveDog 3.2s linear 1;
}

@keyframes walkDog {
  100% {
    background-position: 947px;
  }
}

@keyframes moveDog {
  100% {
    transform: translateX(2500px);

  }
}


/* ///////////////////////////////// FICHE //////////////////////////////////// */

.landing-fiche{
  flex: 1 0 auto;
}

.title-fiche{
  font-size: 2.5rem;
  font-weight: bold;
  color: #EB641A;
}
.sauvetage{
  color: rgb(221, 22, 22);
  font-family: 'Top Secret Bold', arial;
  /* font-family: 'sauvetage'; */
}
.img-carousel{
  width: 40rem !important;
  height: 30rem;
}

.detail{
  font-size: 1.2rem;
}

.tooltip-familleAccueil{
  position: absolute;
  background-color: #EB641A;
  border: 4px solid #666;
  width: 35rem;
  padding: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,.75);
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}

.tooltip-familleAccueil::after, .tooltip-familleAccueil::before{
  content: '';
  bottom: 100%;
  left: 25%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
}

.tooltip-familleAccueil::after{
  border-bottom-color: #EB641A;
  border-width: 25px;
  margin-left: -25px;
}

.tooltip-familleAccueil::before{
  border-bottom-color: #666;
  border-width: 30px;
  margin-left: -30px;
}

.btn-tooltip:hover + .tooltip-familleAccueil{
  pointer-events: all;
  opacity: 1;
}

.img-info:hover{
  cursor: pointer;
}

.img-info:hover ~ .tooltip-familleAccueil{
  pointer-events: all;
  opacity: 1;
}

/* ///////////////////////////////// MEDIA //////////////////////////////////// */

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: rgb(47, 47, 47);
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .nav-links{
    justify-content:space-around
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .hamburger.active .line:nth-child(1){
    transform: rotate(143deg);
    -webkit-transform: rotate(143deg);
    -moz-transform: rotate(143deg);
    -ms-transform: rotate(143deg);
    -o-transform: rotate(143deg);
}
  .hamburger.active .line:nth-child(2){
    transform: translateX(-20px);
    opacity: 0;

}
  .hamburger.active .line:nth-child(3){
    transform: rotate(-143deg);
    -webkit-transform: rotate(-143deg);
    -moz-transform: rotate(-143deg);
    -ms-transform: rotate(-143deg);
    -o-transform: rotate(-143deg);
}

  .nav-links {
    position: fixed;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all .5s ease-out;
    pointer-events: none;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    z-index: 100;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1 !important;
  }
}



div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
}

.card-header{
  font-size:2remx;
  transition:1s;
  color:#EB641A
}

.sexAge{
  display: flex;
}
.card-title{  
  font-size:1.2rem;
  margin-right: 10px;
  transition:1s;
  color:#464444
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

/* /////////////////////////////// CONTACT /////////////////////////////////// */

.landing-contact{
  position: relative;
}

.card-contact{
  transition:0.5s;
  cursor:pointer;
}

.card-contact:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-header-contatct{
  display: flex;
  background: transparent;
  font-size:2remx;
  transition:1s;
  color:#EB641A
}

.text-center-contact{
  width: 100%;
  text-align: center;
}

.form-contact {
  margin-top: 30px;
  height: 80%;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header img{
  justify-self: flex-start;
}

.btn-contact{
  background-color: #EB641A;
  color: #d4d4d4;
  font-size: 18px;

}

.maCarte { 
  height: 80vh; 
}

/* /////////////////////////////////// MODAL //////////////////// */
.modal-body img{
  max-width: 100%;
  height: auto;
}