*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 100vh;
    background: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.container-first{
    position: absolute;
    top: 30%;
    left: 5%;
}

h1{
    font-size: 6vw;
    color: #ececec;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
}

h1 span{
    position: relative;
}

.container-btns{
    position: absolute;
    top: 230%;
    font-size: 20px;
}

.logo{
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 160px;
    height: 80px;
    cursor: pointer;
}

/* /////////////////////////// NAVBAR ////////////////////////// */
.nav-item{
    margin: 1rem;
    border: 2.5px solid rgba(236, 236, 236, 0.644);
    border-radius: 50%;
}

.navbar-nav{
    transform: translateX(50%);
}
.nav-link img{
    margin: .5rem;
    width: 3.5rem;
}
/* /////////////////////////// SVG //////////////////////////// */

#logoSvg{
    position: absolute;
    top: 80px;
    left: 50px;
    animation: fill 0.5s ease;
}

#logoSvg path:nth-child(1){
    stroke-dasharray: 537px;
    stroke-dashoffset: 537px;
    animation: line-anim 2s ease forwards;
}
#logoSvg path:nth-child(2){
    stroke-dasharray: 472px;
    stroke-dashoffset: 472px;
    animation: line-anim 2s ease forwards 0.3s;
    -webkit-animation: line-anim 2s ease forwards 0.3s;
}
#logoSvg path:nth-child(3){
    stroke-dasharray: 343px;
    stroke-dashoffset: 343px;
    animation: line-anim 2s ease forwards 0.6s;
    -webkit-animation: line-anim 2s ease forwards 0.6s;
}
#logoSvg path:nth-child(4){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: line-anim 2s ease forwards 0.9s;
    -webkit-animation: line-anim 2s ease forwards 0.9s;
}
#logoSvg path:nth-child(5){
    stroke-dasharray: 476px;
    stroke-dashoffset: 476px;
    animation: line-anim 2s ease forwards 1.2s;
    -webkit-animation: line-anim 2s ease forwards 1.2s;
}
#logoSvg path:nth-child(6){
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 1.5s;
    -webkit-animation: line-anim 2s ease forwards 1.5s;
}
#logoSvg path:nth-child(7){
   stroke-dasharray: 484px;
   stroke-dashoffset: 484px;
   animation: line-anim 2s ease forwards 1.8s;
   -webkit-animation: line-anim 2s ease forwards 1.8s;
}
#logoSvg path:nth-child(8){
   stroke-dasharray: 580px;
   stroke-dashoffset: 580px;
   animation: line-anim 2s ease forwards 2.1s;
   -webkit-animation: line-anim 2s ease forwards 2.1s;
}
#logoSvg path:nth-child(9){
    stroke-dasharray: 537px;
    stroke-dashoffset: 537px;
    animation: line-anim 2s ease forwards 2.4s;
    -webkit-animation: line-anim 2s ease forwards 2.4s;
}
#logoSvg path:nth-child(10){
    stroke-dasharray: 472px;
    stroke-dashoffset: 472px;
    animation: line-anim 2s ease forwards 2.7s;
    -webkit-animation: line-anim 2s ease forwards 2.7s;
}
#logoSvg path:nth-child(11){
    stroke-dasharray: 343px;
    stroke-dashoffset: 343px;
    animation: line-anim 2s ease forwards 3s;
    -webkit-animation: line-anim 2s ease forwards 3s;
}
#logoSvg path:nth-child(12){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: line-anim 2s ease forwards 3.3s;
    -webkit-animation: line-anim 2s ease forwards 3.3s;
}
#logoSvg path:nth-child(13){
    stroke-dasharray: 476px;
    stroke-dashoffset: 476px;
    animation: line-anim 2s ease forwards 3.6s;
    -webkit-animation: line-anim 2s ease forwards 3.6s;
}
#logoSvg path:nth-child(14){
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 3.9s;
    -webkit-animation: line-anim 2s ease forwards 3.9s;
}
#logoSvg path:nth-child(15){
   stroke-dasharray: 484px;
   stroke-dashoffset: 484px;
   animation: line-anim 2s ease forwards 4.2s;
   -webkit-animation: line-anim 2s ease forwards 4.2s;
}
#logoSvg path:nth-child(16){
   stroke-dasharray: 580px;
   stroke-dashoffset: 580px;
   animation: line-anim 2s ease forwards 4.5s;
   -webkit-animation: line-anim 2s ease forwards 4.5s;
}





@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
    from{
        fill: transparent;
    }
    to{
        fill: #ececec;
    }
}

/* @keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #f1f1f1
    }
} */